<div class="container">

  <!-- ###################### -->
  <!-- ジャンル検索               -->
  <!-- ###################### -->
  <div class="ui raised segment">
    <h1 class="title">ジャンル検索</h1>

    <div class="ui six stackable cards column grid masonry">
      <% @data.each do |genre| %>
        <% entry = genre['youtube'] %>
        <% genre = genre['genre'] %>

        <div class="ui card item" style="min-height: 250px; min-width: 150px;">
          <a class="image" href="/genres/<%= genre['id'].to_s %>">
            <img src=<%= entry['thumbnail'] %> alt=<%= entry['title'] %> />
          </a>
          <div class="content">
            <a class="header" href="/genres/<%= genre['id'].to_s %>"><%= genre['name'] %></a>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>
