<!-- Navigation - au.com style -->
<div class="ui left fixed vertical menu computer only sidebar-fixed au-style-navigation" style="height: 100vh; overflow-y: auto;">
  <div class="item"><a href="/">トップ</a></div>
  <div class="item">
    <div class="ui search">
      <div class="ui icon input">
        <form action="/youtubes/keyword" accept-charset="UTF-8" method="get">
          <input name="utf8" type="hidden" value="✓">
          <input name="search[keyword]" placeholder="Keyword..." type="search" autocomplete="off" class="prompt">
          <i class="search icon"></i>
        </form>
      </div>
      <div class="results"></div>
    </div>
  </div>


  <div class="item">
    <div class="ui accordion">
      <div class="title">
        YouTubeアップロード月検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <form class="ui form" action="/youtubes/_upload_month" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">

            <div class="ui raised segments">

              <div class="ui horizontal segment segments">
                <select id="youtube_published_1i" name="youtube[published][year]" class="ui dropdown fluid">
                  <% (@common['select_form_of_upload_month']['first_entry_year']..
                      @common['select_form_of_upload_month']['latest_entry_year']).each do |year| %>
                    <option value="<%= year %>"><%= year %> 年</option>
                  <% end %>
                </select>
                <select id="youtube_puAblished_2i" name="youtube[published][month]" class="ui dropdown fluid">
                  <option value="1">1 月</option>
                  <option value="2">2 月</option>
                  <option value="3">3 月</option>
                  <option value="4">4 月</option>
                  <option value="5">5 月</option>
                  <option value="6">6 月</option>
                  <option value="7" selected="selected" >7 月</option>
                  <option value="8">8 月</option>
                  <option value="9">9 月</option>
                  <option value="10">10 月</option>
                  <option value="11">11 月</option>
                  <option value="12">12 月</option>
                </select>
              </div>

              <div class="ui segment field" style="background-color: unset; border: none;">
                <input type="hidden" id="youtube_published_3i" name="youtube[published(3i)]" value="1">
                <button type="submit" class="ui button refine_members_link" tabindex="0">検索</button>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="ui accordion">
      <div class="title">
        Ustream放送検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <form class="ui form" action="/ustreams/_published" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">

            <div class="ui raised segments">
              <div class="ui horizontal segment segments">
                <div class="ui segment field" style="padding: 0;">
                  <select name="ustreams[id]" id="ustream_id" class="ui dropdown field">
                    <% @common['select_form_of_ustream'].each do |entry| %>
                      <option value="<%= entry['id'] %>"><%= entry['title'] %></option>
                    <% end %>
                  </select>
                </div>
              </div>
              <div class="ui segment field" style="background-color: unset;">
                <button type="submit" class="ui button refine_members_link" tabindex="0">検索</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="ui accordion">
      <div class="title">
        YouTubeLive検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <form class="ui form" action="/youtubes/_live" accept-charset="UTF-8" method="get">
            <input name="utf8" type="hidden" value="✓">

            <div class="ui raised segments">
              <div class="ui horizontal segment segments">
                <select name="youtube[id]" id="youtube_id" class="ui dropdown fluid">
                  <% @common['select_form_of_youtube_live'].each do |entry| %>
                    <option value="<%= entry['id'] %>"><%= entry['title'] %></option>
                  <% end %>
                </select>
              </div>
              <div class="ui segment field" style="background-color: unset;">
                <button type="submit" class="ui button refine_members_link" tabindex="0">検索</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <div class="ui accordion">
      <div class="title">
        YouTube検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <a class="item" href="/youtubes">YouTube検索トップ</a>
          <a class="item" href="/youtubes/new_arrival">新着動画</a>
          <a class="item" href="/youtubes/view_counts">再生回数の多い順</a>
          <a class="item" href="/youtubes/desc">すべての動画(新しい順)</a>
          <a class="item" href="/youtubes/asc">すべての動画(古い順)</a>
          <a class="item" href="/youtubes/sing">Singを集めてみました</a>
          <a class="item" href="/youtubes/playyouhouse">タイトルが曲名ではなく'Play You. House'</a>
          <a class="item" href="/youtubes/release_at/year">原曲のリリース年から検索</a>
          <a class="item" href="/youtubes/release_at/years">原曲のリリース年代から検索</a>
          <a class="item" href="/youtubes/today/<%= Date.today.strftime("%Y/%m/%d") %>">今日のGoosehouse</a>
          <a class="item" href="/youtubes/hoy">HOY (House Of the Year)</a>
          <div class="item">
            <div class="content">
              <div class="menu">
                <a class="item" href="/youtubes/hoy/2011">2011年のHOY</a>
                <a class="item" href="/youtubes/hoy/2012">2012年のHOY</a>
                <a class="item" href="/youtubes/hoy/2013">2013年のHOY</a>
                <a class="item" href="/youtubes/hoy/2014">2014年のHOY</a>
                <a class="item" href="/youtubes/hoy/2015">2015年のHOY</a>
                <a class="item" href="/youtubes/hoy/2016">2016年のHOY</a>
              </div>
            </div>
          </div>
          <a class="item" href="/youtubes/cover">年間のカバー達</a>
          <div class="item">
            <div class="content">
              <div class="menu">
                <a class="item" href="/youtubes/cover/2010">2010年のカバー達</a>
                <a class="item" href="/youtubes/cover/2011">2011年のカバー達</a>
                <a class="item" href="/youtubes/cover/2012">2012年のカバー達</a>
                <a class="item" href="/youtubes/cover/2013">2013年のカバー達</a>
                <a class="item" href="/youtubes/cover/2014">2014年のカバー達</a>
                <a class="item" href="/youtubes/cover/2015">2015年のカバー達</a>
                <a class="item" href="/youtubes/cover/2016">2016年のカバー達</a>
                <a class="item" href="/youtubes/cover/2017">2017年のカバー達</a>
                <a class="item" href="/youtubes/cover/2018">2018年のカバー達</a>
                <a class="item" href="/youtubes/cover/2019">2019年のカバー達</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="item">
    <div class="ui accordion">
      <div class="title">
        メンバー検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <a class="item" href="/members">メンバー絞り込み検索</a>
          <div class="item">その時代の全員曲</div>
          <div class="item">
            <div class="content">
              <div class="menu">
                <a class="item" href="/members/pyhouse/phase1">その時代の全員曲(Play You. House 1期)</a>
                <a class="item" href="/members/pyhouse/phase2">その時代の全員曲(Play You. House 2期)</a>
                <a class="item" href="/members/goosehouse/phase1">その時代の全員曲(Goosehouse 1期)</a>
                <a class="item" href="/members/goosehouse/phase2">その時代の全員曲(Goosehouse 2期)</a>
                <a class="item" href="/members/goosehouse/phase3">その時代の全員曲(Goosehouse 3期)</a>
                <a class="item" href="/members/goosehouse/phase4">その時代の全員曲(Goosehouse 4期)</a>
                <a class="item" href="/members/goosehouse/phase5">その時代の全員曲(Goosehouse 5期)</a>
                <a class="item" href="/members/goosehouse/phase6">その時代の全員曲(Goosehouse 6期)</a>
                <a class="item" href="/members/goosehouse/phase7">その時代の全員曲(Goosehouse 7期)</a>
                <a class="item" href="/members/goosehouse/phase8">その時代の全員曲(Goosehouse 8期)</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item">
    <a class="item" href="/unit_groups">ユニットグループ検索</a>
  </div>

  <div class="item">
    <a class="item" href="/artists">アーティスト検索</a>
  </div>

  <div class="item">
    <a class="item" href="/musical_instruments">楽器検索</a>
  </div>

  <div class="item">
    <a class="item" href="/musical_instruments/player">演奏者検索</a>
  </div>

  <div class="item">
    <a class="item" href="/genres">ジャンル検索</a>
  </div>

  <div class="item">
    <div class="ui accordion">
      <div class="title">
        Ustreamn検索
        <i class="dropdown icon"></i>
      </div>
      <div class="content">
        <div class="menu">
          <a class="item" href="/ustreams/hoy">HOY</a>
          <a class="item" href="/ustreams/view_counts">再生回数の多い順</a>
          <a class="item" href="/ustreams/desc">すべての動画(新しい順)</a>
          <a class="item" href="/ustreams/asc">すべての動画(古い順)</a>
        </div>
      </div>
    </div>
  </div>
</div>
