<div class="container">
  <div class="ui raised segment">
    <h1 class="title">年間カバー達</h1>

    <div class="ui six stackable cards column grid masonry">

      <% @data['youtubes'].keys.each do |key| %>

        <% entry = @data['youtubes'][key] %>

        <div class="ui card item" style="min-height: 250px; min-width: 150px;">
          <a class="image" href="/youtubes/cover/<%= key %>">
            <img src=<%= entry['thumbnail'] %> alt=<%= entry['title'] %> />
          </a>
          <div class="content">
            <a class="header" href="/youtubes/cover/<%= key %>"><%= "#{key}年のカバー達" %></a>
          </div>
        </div>

      <% end %>

    </div>

  </div>
</div>
