<div class="ui stackable container">

<h1 class="title"><%= raw(@title) %></h1>
<% @data.keys.each do |key| %>

  <div class="container ui segment top">
    <h2 class="ui large header">
      <i class="fa fa-tags fa-xs"></i>
      <a href="<%= @data[key]['route'] %>"> <%= key %></a>
      <div class="ui divider"></div>
    </h2>

    <div class="ui six stackable cards column grid masonry">
      <% if @data[key]['title'] == 'cover' %>
        <% @data[key]['entry'].each do |entry| %>
          <%= render :partial => 'shared/entry', :locals => { :entry => entry, :cover => 'true' } %>
        <% end %>
      <% else %>
        <% @data[key]['entry'].each do |entry| %>
          <%= render :partial => 'shared/entry', :locals => { :entry => entry } %>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>

