<div class="container">


  <div class="ui raised segment">
    <h1 class="title"><%= raw(@title) %></h1>

    <div class="ui six stackable cards column grid masonry">
      <% @data.keys.each do |year| %>
        <% entry = @data[year] %>

        <div class="ui card item" style="min-height: 250px; min-width: 150px;">
          <a class="image" href="/ustreams/<%= entry['id'] %>">
            <img src=<%= entry['thumbnail'] %> alt=<%= entry['title'] %> />
          </a>
          <div class="content">
            <a class="header" href="/ustreams/<%= entry['id'] %>"><%= entry['title'] %></a>
          </div>
          <div class="extra content">
            <%= "再生回数 #{entry['view_counts'].to_j}回" %> <br />
            <%= "公開日 #{entry['published'].strftime( '%Y/%m/%d' )}" %>
          </div>
        </div>
      <% end %>
    </div>

  </div>
</div>

